<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invoice.Mapper.OperatorMapper">
    <resultMap id="operatorMap" type="com.invoice.Entity.Operator">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="OPERATOR_NO" property="operatorNo"/>
        <result column="LOGIN_NAME" property="loginName"/>
        <result column="PASSWORD" property="password"/>
        <result column="REAL_NAME" property="realName"/>
        <result column="TEL" property="tel"/>
        <result column="EMAIL" property="email"/>
        <result column="ADDRESS" property="address"/>
        <result column="ROlE" property="role" typeHandler="com.invoice.Helper.Handler.RoleHandler"/>
    </resultMap>

    <insert id="insert" parameterType="com.invoice.Entity.Operator" keyProperty="id" useGeneratedKeys="true" keyColumn="ID" >
		<![CDATA[
			INSERT INTO SYS_OPERATOR(
				 OPERATOR_NO,
        LOGIN_NAME,
        PASSWORD,
        REAL_NAME,
        TEL,
        EMAIL,
        ADDRESS,
        ROLE
			) VALUES(
				#{operatorNo,jdbcType=VARCHAR},
				#{loginName,jdbcType=VARCHAR},
				#{password,jdbcType=VARCHAR},
				#{realName,jdbcType=VARCHAR},
				#{tel,jdbcType=VARCHAR},
				#{email,jdbcType=VARCHAR},
				#{address,jdbcType=VARCHAR},
				#{role,jdbcType=VARCHAR}
			)
		]]>
	</insert>

    <update id="update">
        UPDATE SYS_OPERATOR
        <set>
            <if test="loginName !=null|| loginName !=''">
                LOGIN_NAME=#{loginName},
            </if>
            <if test="tel !=null|| tel !=''">
                TEL=#{tel},
            </if>
            <if test="email !=null|| email !=''">
                EMAIL=#{email},
            </if>
            <if test="address !=null|| address !=''">
                ADDRESS=#{address},
            </if>
            <if test="role !=null|| role !=''">
                ROLE=#{role}
            </if>
        </set>
        WHERE ID=#{id}
    </update>

    <delete id="delete">
        DELETE FROM SYS_OPERATOR WHERE ID=#{id}
    </delete>

    <sql id="selectWhere">
        <if test="operatorNo !=null|| operatorNo !=''">
            AND OPERATOR_NO LIKE #{operatorNo}
        </if>
        <if test="loginName !=null|| loginName !=''">
            AND LOGIN_NAME LIKE {loginName}
        </if>
        <if test="realName !=null|| realName !=''">
            AND REAL_NAME=#{realName}
        </if>
    </sql>

    <select id="select" resultMap="operatorMap">
        SELECT * FROM SYS_OPERATOR WHERE 1=1
        <include refid="selectWhere"></include>
    </select>

    <select id="selectAllOperator" resultMap="operatorMap" >
        SELECT * FROM SYS_OPERATOR
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="operatorMap">
        SELECT * FROM SYS_OPERATOR WHERE ID=#{id}
    </select>

    <select id="getOperatorByLoginName" parameterType="java.lang.String" resultMap="operatorMap">
        SELECT * FROM  SYS_OPERATOR WHERE LOGIN_NAME = #{loginName}
    </select>

    <update id="updateOperatorLoginPassword">
        UPDATE SYS_OPERATOR SET PASSWORD =#{password} where LOGIN_NAME =#{loginName}
    </update>
</mapper>